/* Nút thêm mới */
.btn_add {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    background-color: #50B83C;
    color: white;
}

.btn_add:hover {
    background-color: rgb(54, 143, 36);
}

/* Nút hành động trong bảng */
.action {
    display: flex;
}

.action-btn {
    background-color: #f5f5f5;
    border: none;
    border-radius: 4px;
    width: 40px;
    height: 36px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    padding: 0;
}

.action-btn:hover {
    background-color: #e0e0e0;
}

.icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
}

/* Hiệu ứng hover cho hàng trong bảng */
tbody tr td div {
    display: none;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    flex-direction: row;
    gap: 10px;
}

tbody tr:hover td div {
    display: flex;
}

tbody tr:hover {
    background-color: #F2FFF0;
}

tbody tr td div button {
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

tbody tr td div button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

tbody tr td div button img {
    width: 16px;
    height: 16px;
}